/* Full responsiveness */
	@media (max-width: 800px) {
		.mobile  {
			display: block;
		}
		.desktop {
			display: none;
		}
		.cv-body {
			margin-left: 0;
		}
		.cv-body-section {
			margin-left: 13px;
		}
	}
	@media (min-width: 801px) {
		.mobile {
			display: none;
		}
		.desktop {
			display:block;
		}
		.cv-body {
			margin-left: 30%;
		}
		.cv-body-section {
			margin-left: 5px;
		}
	}

	body {
		margin:0 auto;
		font-family: "Roboto", sans-serif;
	}

	.header-block {
		background-color: #DFC594;
		display: grid;
		padding-bottom: 1px;
		padding-top: 1px;
		position: sticky;
		top: 0;
		width: 100%;
	}

	.header {
		padding: 1px 5px 5px 5px;
	}

	#navbar-m, #navbar-nm {
		background-color: #FFE5B4;
		padding: 1px 5px 1px 5px;
		position: sticky;
		top: 77px;
	}
	
	#navbar-m a, #navbar-nm a {
		color: #DE7E5D;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		font-weight: 600;
	}
	
	#navbar-m a:hover, #navbar-nm a:hover {
		background-color: #DE7E5D;
		color: #FFE5B4;
	}


	#contact-nm {
		padding: 8px;
		position: fixed;
		width: 30%
	}
	
	.profile-pic{
		border-radius: 50%;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 66px;
	}
